﻿@using Microsoft.Owin.Security

<h4>使用其他服务登录。</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>目前没有已配置好的授权服务。具体参见 <a href="http://go.microsoft.com/fwlink/?LinkId=313242" target="_blank">这篇文章</a> 来了解如何用这个 ASP.NET 应用程序来支持用第三方服务登录。</p>
        </div>
    }
    else
    {
        string action = Model.Action;
        string returnUrl = Model.ReturnUrl;
        using (Html.BeginForm(action, "Account", new { ReturnUrl = returnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                @foreach (AuthenticationDescription p in loginProviders)
                {
                    <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="用你的 @p.Caption 账户登录">@p.AuthenticationType</button>
                }
                </p>
            </div>
        }
    }
}
