﻿@model ASP.NET_MVC5_Bootstrap3_3_1_LESS.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "用户注册";
}
<h2>@ViewBag.Title.</h2>
<h3>关联您的 @ViewBag.LoginProvider 账户。</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>关联信息</h4>
    <hr />
    @Html.ValidationSummary(true)
    <p class="text-info">
        您已经成功用<strong>@ViewBag.LoginProvider</strong>账户授权登录。
        请在下面输入一个用于本网站的用户名，单击注册按钮完成登录。
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="注册" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
