﻿@{
    ViewBag.Title = "关于";
}
<h2>@ViewBag.Title</h2>

<h3>项目概述</h3><hr />
<p>
    这是一个基于 ASP.NET MVC 5 + Bootstrap 3.3.1 + UEditor 1.4.3 构建的简易新闻发布系统，包含用户注册、新闻发布模块。 
</p>
<p>
    户注册模块为系统自动生成的，提供外接第三方服务登陆功能。目前仅提供Google和Facebook登录。
</p>
<p>
    新闻发布模块的使用限定为登录用户。
</p>
<h3>开发环境</h3><hr />
<p>
    <strong>开发软件：</strong>Visual Studio Ultimate 2015 Preview<br />
    <strong>操作系统：</strong>Windows 8.1 Home Premium Edition<br />
    <strong>版本控制：</strong>Bitbucket + SourceTree<br />
    <strong>其他信息：</strong>MVC 5，Entity Framework 6，LocalDB v12.0，Bootstrap 3.3.1，UEditor 1.4.3
</p>
<h3>目前不足</h3><hr />
<p>因为只是一个简单的新闻发布系统，所以一切都是按简单了来处理。不过还是有挺多不足之处。</p>
<p>
    1.任何用户只要注册即可发布新闻。<br />
    2.新闻浏览下面应该有“上一篇”、“下一篇”的链接。
</p>
