﻿@{
    ViewBag.Title = "联系方式";
}
<h2>@ViewBag.Title</h2>
<address>
    计算机科学与工程系<br />
    数理与信息工程学院<br />
    浙江师范大学，浙江省金华市迎宾大道688号
</address>
<p>
    <iframe width="534" height="344" class="ueditor_baidumap" src="/Scripts/editor/dialogs/map/show.html#center=119.651012,29.139992&zoom=16&width=530&height=340&markers=119.651415,29.139221&markerStyles=l,A" frameborder="0"></iframe>
</p>
<address>
    <strong>技术支持：</strong>   <a href="mailto:hgtang93@hotmail.com" target="_blank">hgtang93@hotmail.com</a><br />
    <strong>代码仓库：</strong> <a href="https://bitbucket.org/TomHGTang" target="_blank">https://bitbucket.org/TomHGTang</a>
</address>