﻿@{
    ViewBag.Title = "首页";
}

<div class="jumbotron">
    <h1>MVC 5 简易新闻发布系统</h1>
    <p class="lead">基于 ASP.NET MVC 5 + Bootstrap 3.3.1 + UEditor 1.4.3 构建的简易新闻发布系统，包含用户注册、新闻发布模块。</p>
    <p><a href="/Home/About" class="btn btn-primary btn-large">了解更多 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET MVC</h2>
        <p>
            ASP.NET MVC 给你强大的、 基于模式的方法，建立动态网站，使关注点分离，更加简明，为您提供令人愉快的完全控制标记，敏捷开发。
        </p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc" target="_blank">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bootstrap</h2>
        <p>Bootstrap 是最受欢迎的 HTML、CSS 和 JS 框架，用于开发响应式布局、移动设备优先的 WEB 项目。</p>
        <p><a class="btn btn-default" href="http://v3.bootcss.com/" target="_blank">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>UEditor</h2>
        <p>UEditor是由百度web前端研发部开发所见即所得富文本web编辑器，具有轻量，可定制，注重用户体验等特点，开源基于MIT协议，允许自由使用和修改代码等特点</p>
        <p><a class="btn btn-default" href="http://ueditor.baidu.com/website/index.html" target="_blank">了解更多 &raquo;</a></p>
    </div>
</div>