﻿@model ASP.NET_MVC5_Bootstrap_3._3._1_LESS.Models.News

@{
    ViewBag.Title = "删除新闻";
}

<h2>@ViewBag.Title</h2>

<h3>您确定要删除新闻“<strong>@Model.Title</strong>”吗？删除后不可恢复哦╮(╯-╰)╭~~~</h3>
<div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回列表", "Index")
        </div>
    }
</div>
