﻿@model ASP.NET_MVC5_Bootstrap_3._3._1_LESS.Models.News

@{
    ViewBag.Title = "查看新闻 | " + Model.Title;
}
    <header style="text-align:center">
        <h2>@Model.Title</h2>
        @Html.DisplayNameFor(model => model.PubTime)：@Model.PubTime.ToShortDateString()
    </header>
    <hr />
    <article>
        @MvcHtmlString.Create(Model.Content)
    </article>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("返回列表", "Index")
</p>