﻿@model IEnumerable<ASP.NET_MVC5_Bootstrap_3._3._1_LESS.Models.News>
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "新闻管理";
}
<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("添加新闻", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PubTime)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PubTime)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.Id }) |
            @Html.ActionLink("查看", "Details", new { id=item.Id }) |
            @Html.ActionLink("删除", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>
@{
    var data = Model as IPagedList<ASP.NET_MVC5_Bootstrap_3._3._1_LESS.Models.News>;
}
@Html.PagedListPager(list: data, generatePageUrl: page => Url.Action("Index", new { page = page }))
