﻿@model ASP.NET_MVC5_Bootstrap_3._3._1_LESS.Models.News

@{
    ViewBag.Title = "新闻 | " + Model.Title;
}
    <header style="text-align:center">
        <h2>@Model.Title</h2>
        @Html.DisplayNameFor(model => model.PubTime)：@Model.PubTime.ToShortDateString()
    </header>
    <hr />
    <article>
        @MvcHtmlString.Create(Model.Content)
    </article>