﻿@model IEnumerable<ASP.NET_MVC5_Bootstrap_3._3._1_LESS.Models.News>
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "所有新闻";
}
<h2>@ViewBag.Title</h2>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PubTime)
            </td>
        </tr>
    }
</table>
@{
    var data = Model as IPagedList<ASP.NET_MVC5_Bootstrap_3._3._1_LESS.Models.News>;
}
@Html.PagedListPager(list: data, generatePageUrl: page => Url.Action("Index", new { page = page }))